In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [3]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
df['A'].fillna(value=df['A'].median(),inplace=True)

In [8]:
df['B'].fillna(value=df['B'].median(),inplace=True)

In [9]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3

In [10]:
df['A'].fillna(value=df['A'].mode())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [11]:
df['B'].fillna(value=df['B'].mode())

0    5.0
1    5.0
2    5.0
Name: B, dtype: float64

In [12]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3

what is the difference between merging and joining in dataframe

Both join and merge can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.

In [3]:
import pandas as pd
  
# Creating the two dataframes
left = pd.DataFrame([['a', 1], ['b', 2]], list('XY'), list('PQ'))
right = pd.DataFrame([['c', 3], ['d', 4]], list('XY'), list('PR'))
print(left)
print(right)

   P  Q
X  a  1
Y  b  2
   P  R
X  c  3
Y  d  4

The join method takes two dataframes and joins them on their indexes (technically, you can pick the column to join on for the left dataframe). If there are overlapping columns, the join will want you to add a suffix to the overlapping column name from the left dataframe. Our two dataframes do have an overlapping column name P.

In [2]:
joined_df = left.join(right, lsuffix='_')
print(joined_df)

  P_  Q  P  R
X  a  1  c  3
Y  b  2  d  4

Both methods are used to combine two dataframes together, but merge is more versatile, it requires specifying the columns as a merge key. We can specify the overlapping columns with parameter on, or can separately specify it with left_on and right_on parameters.

In [4]:
merged_df = left.merge(right, on='P', how='outer')
print(merged_df)

   P    Q    R
0  a  1.0  NaN
1  b  2.0  NaN
2  c  NaN  3.0
3  d  NaN  4.0

create a data frame and add a column. add names in it and use apply function to return names whose length is greater than 5

In [13]:
names=['Ramya', 'Rama lakshmi', 'Sruthi']

In [14]:
df['Names'] = names

In [15]:
df

     A    B  C         Names
0  1.0  5.0  1         Ramya
1  2.0  5.0  2  Rama lakshmi
2  1.5  5.0  3        Sruthi

In [16]:
df[df['Names'].str.len() > 5]

     A    B  C         Names
1  2.0  5.0  2  Rama lakshmi
2  1.5  5.0  3        Sruthi

create a numpy array and a dataframe array and concatenate them

In [17]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [18]:
data = pd.DataFrame({'X':[1,2,7],
                  'Y':[5,5, 2],
                  'Z':[1,2,3]})

In [19]:
data

   X  Y  Z
0  1  5  1
1  2  5  2
2  7  2  3

In [20]:
new_dataframe = pd.concat([
    data,
    pd.DataFrame(np.ones((3,3)), dtype=np.int)
], axis=1, ignore_index=True)

In [21]:
new_dataframe

   0  1  2  3  4  5
0  1  5  1  1  1  1
1  2  5  2  1  1  1
2  7  2  3  1  1  1